* {
    margin: 0;
    padding: 0;
}

.first-block7 {
    height: 100px;
    background-color: #f7ce75;
    text-align: center;
}

.first-block7_1 {
    height: 200px;
    background-color: #f0f0f0;
    text-align: center;
}

.first-block7_2 {
    height: 400px;
    background-color: #f0f0f0;
    display: flex;
}

.first-block7_3 {
    height: 300px;
    background-color: #f0f0f0;
    text-align: center;
}

.second-block7_1 {
    height: 200px;
    background-color: #f0f0f0;
    text-align: center;
}

.second-block7_2 {
    height: 500px;
    background-color: #f0f0f0;
    display: flex;
}

.second-block7_3 {
    height: 500px;
    background-color: #f0f0f0;
    text-align: center;
}

.third-block7_1 {
    height: 200px;
    background-color: #f0f0f0;
    text-align: center;
}

.third-block7_2 {
    height: 500px;
    background-color: #f0f0f0;
    display: flex;
}

.third-block7_3 {
    height: 600px;
    background-color: #f0f0f0;
    text-align: center;
}

footer{
    height: 50px;
    background-color: #000;
}

.eventlabel {
    letter-spacing: 0.2em;
    font-size: 27px;
    padding-top: 30px;
}

.spring {
    letter-spacing: 0.2em;
    font-size: 27px;
    padding-top: 50px;
    margin: 0 auto;
    display: inline-block;
    border-bottom: 3px solid #f7ce75;
}

.event-picture1 {
    height: 70%;
    margin: 0 auto;
    outline: 10px solid #f7ce75;
}

.event-picture2 {
    height: 70%;
    margin: 0 auto;
    outline: 10px solid #f7ce75;
}

.springdetail1 {
    letter-spacing: 0.4em;
    font-size: 30px;
    margin: 0 auto;
    line-height: 1.8em;
}

.springdetail2 {
    letter-spacing: 0.4em;
    font-size: 27px;
    margin: 0 auto;
    line-height: 1.8em;
}

.august {
    letter-spacing: 0.2em;
    font-size: 27px;
    padding-top: 50px;
    margin: 0 auto;
    display: inline-block;
    border-bottom: 3px solid #f7ce75;
}

.event-picture3 {
    height: 70%;
    margin: 0 auto;
}

.event-picture4 {
    height: 70%;
    margin: 0 auto;
    outline: 10px solid #f7ce75;
}

.event-picture5 {
    height: 70%;
    margin: 0 auto;
}

.augustdetail1 {
    letter-spacing: 0.4em;
    font-size: 30px;
    margin: 0 auto;
    line-height: 1.8em;
}

.augustdetail2 {
    letter-spacing: 0.4em;
    font-size: 27px;
    margin: 0 auto;
    line-height: 1.8em;
    padding-top: 40px;
}

.september {
    letter-spacing: 0.2em;
    font-size: 27px;
    padding-top: 50px;
    margin: 0 auto;
    display: inline-block;
    border-bottom: 3px solid #f7ce75;
}

.event-picture6 {
    height: 70%;
    margin: 0 auto;
    outline: 10px solid #f7ce75;
}

.event-picture7 {
    height: 70%;
    margin: 0 auto;
    outline: 10px solid #f7ce75;
}

.event-picture8 {
    height: 70%;
    margin: 0 auto;
    outline: 10px solid #f7ce75;
}

.septemberdetail1 {
    letter-spacing: 0.4em;
    font-size: 30px;
    margin: 0 auto;
    line-height: 1.8em;
}

.septemberdetail2 {
    letter-spacing: 0.4em;
    font-size: 27px;
    margin: 0 auto;
    line-height: 1.8em;
    padding-top: 40px;
}