* {
    margin: 0;
    padding: 0;
  }

  .first-block10 {
    height: 100px;
    background-color: #f7ce75;
    text-align: center;
  }
  
  .second-block10 {
    height: 300px;
    background-color: #f0f0f0;
    display: flex;
  }
  

  .second-block10_2 {
    height: 1200px;
    background-color: #f0f0f0;
    display: flex;
  }
  
  .third-block10_1 {
    height: 500px;
    background-color: #f0f0f0;
    display: flex;
  }

  .third-block10_1_1 {
    height: 300px;
    background-color: #f0f0f0;
    text-align: center;
  }

  .third-block10_2 {
    height: 600px;
    background-color: #f0f0f0;
    display: flex;
  }

  .third-block10_2_1 {
    height: 400px;
    background-color: #f0f0f0;
    text-align: center;
  }

  footer{
    height: 50px;
    background-color: #000;
  }

  .fukufukulabel {
    letter-spacing: 0.2em;
    font-size: 27px;
    padding-top: 30px;
}

.fukufukuname {
    position: absolute;
    top: 160px;
    left: 230px;
    font-size: 30px;
    border-bottom: 3px solid black;
}

.fukufukudetail1 {
    position: absolute;
    top: 260px;
    left: 230px;
    font-size: 25px;
    line-height: 2.7;
}

.fukufukudetail2 {
    position: absolute;
    top: 360px;
    left: 230px;
    font-size: 20px;
    line-height: 2.7;
}

.fukufuku-picture1 {
    position: absolute;
    height: 30%;
    padding-left: 980px; 
    padding-top: 50px;
    margin: 20px;
}

.fukufuku-picture2 {
    height: 10%;
    position: absolute;
    top: 70%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.fukufuku-picture3 {
    height: 10%;
    position: absolute;
    top: 70%;
    left: 82%;
    transform: translate(-50%, -50%);
}

.follow {
    position: absolute;
    top: 650px;
    left: 950px;
    font-size: 15px;
    line-height: 3.0em;
    border-bottom: 3px solid black;
}

.follow2 {
    position: absolute;
    top: 730px;
    left: 900px;
    font-size: 15px;
}

.fukufuku-picture4 {
    height: 70%;
    margin: 0 auto;
    outline: 10px solid #f7ce75;
}

.fukufuku-picture5 {
    height: 70%;
    margin: 0 auto;
    outline: 10px solid #f7ce75;
}

.fukufuku-picture6 {
    height: 70%;
    margin: 0 auto;
    outline: 10px solid #f7ce75;

}

.fukufuku-picture7 {
    height: 70%;
    margin: 0 auto;
    outline: 10px solid #f7ce75;
}

.racedetail1 {
    letter-spacing: 0.2em;
    font-size: 30px;
    line-height: 1.0;
}

.racedetail2 {
    letter-spacing: 0.2em;
    font-size: 22px;
    line-height: 1.0;
    padding-top: 80px;
}

.misodetail1 {
    letter-spacing: 0.2em;
    font-size: 30px;
    line-height: 1.0;
}

.misodetail2 {
    letter-spacing: 0.2em;
    font-size: 22px;
    line-height: 3.0;
    padding-top: 80px;
}