<link rel="stylesheet" type="text/css" href="stylesheets/food.css">

<div class="first-block8">
  <p class="foodlabel">食べ物</p>
</div>
<div class="first-block8_1">
  <p class="tokusanhin">
   福富町には少し変わった特産品があるそうです…
  </p>
  <p class="egoma">
   ▶荏胡麻（えごま）
  </p>
</div>
<div class="first-block8_2">
    <%= image_tag "egomalunch.jpg", class: "food-picture1" %>
    <p class="egomadetail1">
    こちらはふくふくが地域のお手伝いをした時に頂いた
    <br>「えごまランチ」
    <br>ほとんどのメニューでえごまが使用されている、贅沢なランチ
    <br>えごまはどんな料理にも合います。
    <br>普通のゴマよりもプチっとした食感がします。
    </div>
</div>
<div class="second-block8_1">
    <%= image_tag "egomadore2.jpg", class: "food-picture2" %>
    <p class="egomadetail2">
    ○えごまのドレッシング
    <br>さっぱりとしてサラダとの相性抜群です✨✨
    <br>普通のごまと比べてえごまは粒が大きいので、
    <br>よりごまの風味を感じることができます。
    <br>ふつうのゴマドレッシングももちろんおいしいですが
    <br>一風変わったえごまのドレッシングは
    <br>いかがですか？？
    </p>
</div>
<div class="second-block8_2">
    <div class="container">
    <p class="egomadetail3">
    えごまは、ごまのような形をしているシソ科の植物です。
    <br>種子から搾られたえごま油は「畑の青魚」と呼ばれるほどEPA、DHAの素となるα‐リノレン酸を豊富に含み、
    <br>免疫力強化や認知症予防、動脈硬化予防などに効果があるといわれています。
    <br>実（み）はクッキー、おむすび、サラダ、ゴマ和えなど幅広い料理に使えます。
    <br>ちなみに私はえごまクッキーが大好きです。
    <br>福富町はえごまが名産品です。
    <br>福富町のえごまは、無農薬で一粒一粒が手摘みで、熟練した農家が手間暇を掛けて作っています。
    </p>
    <div class="rectangle"></div>
    </div>
</div>
<div class="second-block8_3">
    <%= image_tag "hirameki.png", class: "food-picture3" %>
    <p class="egomadetail4">
    「えごま」という名前なのにシソ科なんだね！
    </p>
</div>
<div class="third-block8_1">
    <p class="quiz">
    ちょっと一息クイズ…
    </p>
    <div class="q">
    <p>Q:なんで福富町の名産品がえごまなの？？</p>
    </div>
    <div class="a">
    <p>A:利益が出やすいから。
          <br>コメの売上は10a当たり約150,000円とエゴマ10アール当たり約120,000円よりも
          <br>売上高が高いのですが、総費用との差し引きを考えるとえごまの方が利益が出ます。
          <br>かつてのわが国は、コメ一辺倒ではなく雑穀や野菜など、
          <br>数種類の農業を行うのが普通でした。
          <br>その後農業の大規模化が進んだわけですが、それでは地域による収益の格差が
          <br>大きくなるのが問題とされていました。
          <br>そこで特色ある作物を栽培することで、ブランド化して地域おこしにつなげよう
          <br>というのが福富町の狙いです。</p>
    </div>
</div>

<footer>
</footer>