<link rel="stylesheet" type="text/css" href="stylesheets/index.css">

<body>
  
  <div class="first-block">
    <div class="produce">
      produced by fukufuku
    </div>
    <%= image_tag "fukufukurogo1.jpg", class: "index-picture" %>
    <div class="master">
      福富町マスターになろう
    </div>
    <hr class="style0">
    <div class="maruwakari">
      広島県東広島市福富町についてまるわかり！
    </div>
  </div>

  <div class="second-block">
    <%= image_tag "Web1.jpg", class: "index-picture2" %>
    
    <p class="text-left">魅力いっぱい
      <br>  福富町・・・
      <br>  あなたは
      <br>  なにが
      <br>  気になる？？
    </p>
  </div>

  <div class="third-block">
      <a href="http://localhost:3000/towns/facility" class="facility">施設</a>
      <a href="http://localhost:3000/towns/event" class="event">イベント</a>
      <a href="http://localhost:3000/towns/food" class="food">食べ物</a>
      <a href="http://localhost:3000/users/sign_in" class="review">交流</a>
      <a href="http://localhost:3000/towns/fukufuku" class="fukufuku">ふくふく</a>
    <div class="border100">
    </div>
    <div class="border2">
    </div>
    <div class="border3">
    </div>
    <div class="border4">
    </div>
  </div>

  <div class="third-block1">
    <p class="facility1">
      広島県NO.1
    </p>
    <p class="event1">
      2日間で27000人
      <br>訪れる
      <br>ビッグイベント
    </p>
    <p class="food1">
      ただのゴマ
      <br>ではなく…？
    </p>
    <p class="review1">
      みんなで
      <br>お話しよう！
    </p>
    <p class="fukufuku1">
      学生まちおこし団体
      <br>ふくふくとは…？
    </p>
  </div>

<div class="third-block2">
    <a href="http://localhost:3000/users/sign_in" class="btn-style-link">ログイン</a>
    <a href="http://localhost:3000/users/sign_up" class="btn-style-link2">新規登録</a>
</div>

<div class="forth-block">
    <p class="fukutomi">
      福富町とは・・・
    </p>
    <p class="detail">
    広島県東広島市に位置する福富町。
    <br>２００５年に東広島市に編入しました。
    <br>人口２２０２人で東広島市の中で最も人口減少が著しい地域です。
    <br>なんと福富町内の小学校・中学校はたったひとつ…
    <br>公共交通機関が整備されていない…
    <br>しかし！！
    <br>たくさんの施設・イベント・食べ物・優しい方々といった魅力が詰まった素晴らしいまちなのです！✨✨
    <br>このWebサイトでは福富町の秘めた魅力を発信しています🎵
    </p>
</div>
<div class="forth-block2">
    <p class="rogo">
      福富町章👉
    </p>
    <%= image_tag "fukutomirogo.jpg", class: "index-picture3" %>
    <%= image_tag "taue.jpg", class: "index-picture4" %>
    <p class="taue">
      👈福富町での田植えイベント
    </p>
</div>
<div class="forth-blocklast">
</div>

  <footer>	
  </footer>
</body>