.my_page{
    width: 100%;
    background-color: #f0f0f0;
    padding: 70px 0px;

    .my_page_field{
        width: 880px;
        height: 860px;
        background-color: #f7ce75;
        margin: 0 auto;
        border-radius: 10vh;

    .my_page_title{
        width: 880px;
        height: 200px;
        padding-top: 60px;
        font-size: 25px;
        letter-spacing: 0.5em;
        line-height: 80px;
        text-align: center;
    }
    .my_page_name{
        width: 70%;
        height: 100px;
        padding-top: 30px;
        padding-left: 60px;
        font-size: 15px;
        letter-spacing: 0.5em;
    }

    .my_page_mail{
        width: 70%;
        height: 100px;
        padding-top: 30px;
        padding-left: 60px;
        font-size: 15px;
        letter-spacing: 0.5em;
        }

        .my_page_profile{
            width: 70%;
            height: 100px;
            padding-top: 30px;
            padding-left: 60px;
            font-size: 15px;
            letter-spacing: 0.5em;
            }

        .your_post{
        width: 70%;
        height: 100px;
        padding-top: 30px;
        padding-left: 60px;
        font-size: 15px;
        letter-spacing: 0.5em;
        }

        .your_heart{
        width: 70%;
        height: 100px;
        padding-top: 30px;
        padding-left: 60px;
        font-size: 15px;
        letter-spacing: 0.5em;
        }

        .link{
            text-align: center;

        .my_page_edit{
            font-size: 15px;
            color: black;
        }

        .back_index{
            font-size: 15px;
            color: black;
            
        }
    }
    }
}