.mypage_edit{
    width: 100%;
    background-color: #f0f0f0;
    padding: 70px 0px;

    .mypage_edit_field{
        width: 880px;
        height: 960px;
        background-color: #f7ce75;
        margin: 0 auto;
        text-align: center;
        border-radius: 10vh;

        .mypage_edit_title{
            font-size: 25px;
            padding-top: 50px;
            letter-spacing: 0.5em;

        }
        .field{
            padding-top: 20px;
                .field_input{
                    width: 600px;
                    height: 63px;
                    border: 0px none;
        
                    font-size: 20px;
                    line-height: 63px;
                    letter-spacing: 0.5em;
                }
            }
            .actions{
                padding-top: 50px;
                .field_input{
                    width: 300px;
                    height: 63px;
                    border: 0px none;
                    
                    font-size: 20px;
                    line-height: 63px;
                    letter-spacing: 0.5em;
                }
            }
        
            .cancel{
                padding-top: 50px;
                .cancel_title{
                    font-size: 25px;
                    .field_input{
                    width: 300px;
                height: 63px;
                border: 0px none;
                font-size: 20px;
                line-height: 63px;
                letter-spacing: 0.3em;
                text-decoration: none;

                    }
                }
            }

            .field_input{
                width: 300px;
                height: 63px;
                border: 0px none;
                font-size: 20px;
                line-height: 63px;
                letter-spacing: 0.3em;
                text-decoration: none;
            }
        }
    }
