.newpassword{
    width: 100%;
    background-color: #f0f0f0;
    padding: 70px 0px;
   
    .newpassword_field{
       width: 880px;
       height: 650px;
       background-color: #f7ce75;
       margin: 0 auto;
       border-radius: 10vh;
    }
   
      .newpasswordtitle{
        width: 880px;
        height: 200px;
        padding-top: 60px;
        font-size: 25px;
        letter-spacing: 0.5em;
        line-height: 80px;
        text-align: center;
      }
   
         .field{
            margin-bottom: 40px;
            text-align: center;
            .field_input{
            width: 600px;
            height: 63px;
            border: 0px none;

            font-size: 20px;
            line-height: 63px;
            letter-spacing: 0.5em;
            }
         }
      }
   